.gameboard{
  border: 3px gray solid;
  height: 500px;
  width: 80%;
  background-color: rgba(162, 214, 175, 0.62);
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.cards{
  // padding: 1%;
  position: relative;
  display: inline-block;
  height: 13%;
  width: 14%;
  margin: 1%;
  border: 2px black solid;
  background-color: rgba(163, 195, 152, 0.8);
}

.cards:hover{
  background-color: rgba(163, 195, 152, 0.6);
}

.scorebar{
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  border: 3px black solid;
  background: white;
  height: 100px;
  width: 500px;
}

#playerOneScore, #playerTwoScore{
  display: block;
  height: 50px;
  width: 500px;
  border: 2px solid gray;
}

span{
  margin-left: 1%;
  float: left;
  text-align: center;
  display: inline-block;
}
