html{
	font-family: 'Slabo 27px', serif;
}

body{
	background-image: url(http://i1045.photobucket.com/albums/b452/ashermn2/fabric_of_squares_gray_zps4cmxk6aj.png);
	background-repeat: repeat;
	background-position: center;
	padding-bottom:30px;
}

header{
	background-image:url(http://i1045.photobucket.com/albums/b452/ashermn2/dark_embroidery_zpsxbqkvkbl.png);
	background-repeat: repeat;
	/*background: url(http://orig04.deviantart.net/2695/f/2014/197/c/c/red_wood_texture__resource__by_nickpolyarush-d6u0dtg.jpg);	*/
	text-align: center;
	font-family:'Slabo 27px', serif;
}

header img{
	margin-bottom: 50px;
	border: 5px solid #fff;
	border-radius: 20px;
}

h1 {
	color: white;
	font-size: 80px;
	margin-top: 0;
	padding-top: 30px;
}

h2 {
	font-size: 50px;
	color:black;
	text-align: center;
}

h3{
	text-align:center;
	font-size: 40px;
}
p{
	text-align:center;
	font-size: 25px;
	padding: 5px;
}

img.resize{
	width: 25%;
	height: 25%;
}
img{
	border-width: 5px;
	border-radius: 5px;
}

ul{
	color: black;
	font-size: 35px;
	padding-left: 0px;
}

li{
	display: inline-block;
	width: 50%;
	text-align: center;
}
span{
	display:block;
	padding-bottom:10px;
}
li img{
	width: 50%;
	height: 50%;
}

article{
	margin: 0 auto;
	padding:20px;
}
button{
	display:block;
	margin: 0 auto;
}

@media (max-width: 500px) {
	li{
		display:block;
		width:100%;
		text-align: center;
	}
	h1{
		font-size: 60px;
	}
	h2{
		font-size: 40px;
	}
	span{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
	}
	p{
		font-size: 20px;
	}
}
